<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
  	<servlet-name>LoginService</servlet-name>
  	<display-name>LoginService</display-name>
  	<description></description>
  	<servlet-class>Controller.LoginService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchInfoService</servlet-name>
  	<display-name>SearchInfoService</display-name>
  	<description></description>
  	<servlet-class>Controller.SearchInfoService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Edit_MyInfo_Service</servlet-name>
  	<display-name>Edit_MyInfo_Service</display-name>
  	<description></description>
  	<servlet-class>Controller.Edit_MyInfo_Service</servlet-class>
  </servlet>
    <servlet>
  	<servlet-name>Edit_MyPw</servlet-name>
  	<display-name>Edit_MyPw</display-name>
  	<description></description>
  	<servlet-class>Controller.Edit_MyPw</servlet-class>
  </servlet>
    <servlet>
    	<servlet-name>LoadPos</servlet-name>
    	<display-name>LoadPos</display-name>
    	<description></description>
    	<servlet-class>Controller.LoadPos</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>Edit_MyPos</servlet-name>
    	<display-name>Edit_MyPos</display-name>
    	<description></description>
    	<servlet-class>Controller.Edit_MyPos</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>JoinService</servlet-name>
    	<display-name>JoinService</display-name>
    	<description></description>
    	<servlet-class>Controller.JoinService</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>DeptListService</servlet-name>
    	<display-name>DeptListService</display-name>
    	<description></description>
    	<servlet-class>Controller.DeptListService</servlet-class>
    </servlet>

 

  <servlet-mapping>
  	<servlet-name>LoginService</servlet-name>
  	<url-pattern>/LoginService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchInfoService</servlet-name>
  	<url-pattern>/SearchInfoService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Edit_MyInfo_Service</servlet-name>
  	<url-pattern>/Edit_MyInfo_Service</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Edit_MyPw</servlet-name>
  	<url-pattern>/Edit_MyPw</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoadPos</servlet-name>
  	<url-pattern>/LoadPos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Edit_MyPos</servlet-name>
  	<url-pattern>/Edit_MyPos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JoinService</servlet-name>
  	<url-pattern>/JoinService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeptListService</servlet-name>
  	<url-pattern>/DeptListService</url-pattern>
  </servlet-mapping>

</web-app>
